.dart_tool/flutter_build/dart_plugin_registrant.dart
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/.filecache
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/app.dill
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/debug_android_application.stamp
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/flutter_assets.d
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/gen_localizations.stamp
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/kernel_snapshot.d
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/kernel_snapshot.stamp
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/native_assets.d
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/native_assets.stamp
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/native_assets.yaml
.dart_tool/flutter_build/b3e022d6d371d2f78cb63d0586747643/outputs.json
build/
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/package_config.json
.dart_tool/package_config.json
.dart_tool/package_config.json
